<a href="https://colab.research.google.com/github/Nooralshyab/data-minning-/blob/main/practical_on_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
a =10
b =5

Sum=a+b
difference=a-b
prouduct=a*b
division=a/b

print("Sum:" ,sum)
print("Difference:" ,difference)
print("Prouduct:" ,prouduct)
print("Division:",  division)

Sum: <built-in function sum>
Difference: 5
Prouduct: 50
Division: 2.0

In [12]:
print(f"The sum of the two numbers{a},{b}is{sum}")

The sum of the two numbers10,5is<built-in function sum>

In [ ]:
x=13/2
print(x)
y=13%2
print(y)

6.5
1

In [ ]:
#Boolean varibles andcomparisons
x=10
y=5

is_greater=x>y
is_equal=x==y
is_not_equal =x!=y

print("is x greater than y?",is_greater)
print("is x equaly?",is_equal)
print("is x not equalto y?",is_not_equal)

is x greater than y? True
is x equaly? False
is x not equalto y? True

In [ ]:
#varible assignment
name="ALaa"
age=55
is_professor=True

print(f"{name}is age is {age}.He is aprofessor is{is_professor} ")

ALaais age is 55.He is aprofessor isTrue

In [14]:
#Difining and using a function
def greet(name):
 "Hello,"+ name +"!"
my_name=input("Enter your name:")
greet("my name")

Enter your name:Alaa

In [35]:
def add_numbers(a,b):
  return a+b
  a =int(input("Enter first number:"))
  b =int(input("Eenter second number"))

  addition_value = add_numbers(a,b)
  print(f"The result of addition for {a},{b}is{addition_value}")

In [36]:
def add_numbers(a,b):
  return a+b
  a =eval(input("Enter first number:"))
  b =eval(input("Enter second number:"))

addition_value =add_numbers(a,b)
print(f"The result of addition for {a},{b}is{addition_value}")

The result of addition for 10,5is15

In [40]:
#working with sitting
message ="Hello,world"
length =len(message)
uppercase = message.upper()
lowercase= message.lower()
substing = message[7:12]

print("Original message:",message)
print("The length is:",length)
print("Uppe case:",uppercase)
print("Lower case:",lowercase)
print("Part of the messageis:",substing)

Original message: Hello,world
The length is: 11
Uppe case: HELLO,WORLD
Lower case: hello,world
Part of the messageis: orld

In [41]:
#Basic input example
last =input("Enter the last name,last name:")
first =input("Enter the first name,first name:")

print(f"{last},{first}")

Enter the last name,last name:sheta alaa
Enter the first name,first name:Alaa
sheta alaa,Alaa

In [42]:
#Numeric input example
age =int(input("Enter your age:"))
print("You will be",age + 1,"years old next year.")

Enter your age:55
You will be 56 years old next year.

In [43]:
#calculation with input

num1 =float(input("Enter a number:"))
num2 =float(input("Enter anumber:"))
sum_result=num1 +num2
print("sum:",sum_result)

Enter a number:12
Enter anumber:14
sum: 26.0

In [44]:
#string concatenation with input
city =input("Enter your city:")
country =input("Enter your country")
location =city +","+country
print("you are in:",location)

Enter your city:New haven
Enter your countryUSA
you are in: New haven,USA

In [54]:
#Multiple inputs

Name, age = input("Enter your name and age sperated by space:")split()
print(f"my name is {name} and my age is {age}")

SyntaxError: invalid syntax (<ipython-input-54-41823875f694>, line 3)